.button{
    -fx-background-color: #33A1FD;
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-radius: 15px;
    -fx-font-weight: bold;
}

.button:pressed{
    -fx-background-color: #2176FF;
}

#title{

    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-font-size: 60px;

}
